
<!--break-->


<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static',filename='css/login_signup.css') }}">

</head>
<body>
<form method="POST">
<div class="box-form" >
	
	
	<div class="left">
		<div class="overlay">
		<h1>Chain Domain</h1>
		<p>Einloggen und loslegen</p>
		<span>
			<p>Login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
			
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="{{url_for('auth.sign_up')}}">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
      
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
			<br>
			
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<!--
		<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
-->
			<p>forgot password?</p>
		</div>
			
			<br>
			<button type="submit" class="btn btn-primary">Login</button>
	</div>
	
</div>
</form>
<!-- partial -->
  
</body>
</html>









